body{
    width: 100vw;
    height: 100vh;   
}

/* #valor{
    display: grid;
    padding: 4px;
    margin: 20PX;
    flex-wrap: wrap;
    align-items: center;
}
.pagamento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 5px; 
    padding: 10px;
  }
  .pagamento button{
    cursor: pointer;
    border-radius: 50px;
    background-color: cadetblue;
    height: 50%;
    width: 50%;
}
.b1{
    display: flex;
    border-radius: 60px;
    margin-top: 20px;
    margin: 40px;
    padding: 5px 10px;
    gap: 10px;
    background-color: aqua;
    cursor: pointer;
    font-size: 17px;
    
}
#umes{
    display: flex;
} */


#donation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#pjt-selection{
    width: 50%;
    height: 100%;
    background-color:  #f4ecff;
}
#dscp-title {
    color:  #5856D6;
    padding-left: 2vh;
    font-size: 36px;
    
}
#description p{
    padding: 4px; 

}
#description select{
    padding: 4px; 
    margin-bottom: 20px;
    font-size: 20px;
    
}
#description select{
    padding: 4px; 
    margin-bottom: 20px;
    font-size: 20px;
    
}
/* ESTILIZAÇÃO DIREITA CADEADO */
#cont-pag {
    width: 50%;
    height: 100%;
    background-color: #f4ecff;
    font-size: 5px;
    object-fit: center;
   
}
#cade{
    display: flex;
    justify-content: center;
}
#cade h1{
    margin: 0;
        font-size: 25px;
        padding: 9px;
        
}
#cadeado{
    height: 40px;
    width: 40px;
    object-fit: cover;
    
}

#container-img{
    width: 100%;
    height: 50%;
}

#img{
    width: 100%;
    height: 90%;
object-fit: cover;
}

#transition{
    width: 100%;
    height: 50%;
    background-color: yellow;
}
#transition h1{
    font-size: 60px;
}

#card-pag{
    width: 100%;
    height: 80%;
    background-color: purple;
}
#card-pag{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 5px; 
    padding: 90px;

}

.pagamento button{
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 90px;
    font-size: 15px;
}
.pagamento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 20px; 
    padding-top: 50px;
    z-index: 1;
  }
  
  #insert-value{
    display: flex;
    padding: 3px;
    margin: 20PX;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    z-index: 2;
  }
 
/* section{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center; 
}
img{
    width: 100%;
    height: 100%;
}
aside{
    width: 100%;
    height: 50%;
    background-color: black;
}
 article{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
 } */

 